@charset "utf-8";

@font-face {
    font-family: 'pt_sans_captionregular';
    src: url('fonts/ptc55f-webfont.eot');
    src: url('fonts/ptc55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ptc55f-webfont.woff') format('woff'),
         url('fonts/ptc55f-webfont.ttf') format('truetype'),
         url('fonts/ptc55f-webfont.svg#pt_sans_captionregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebasregular';
    src: url('fonts/bebas___-webfont.eot');
    src: url('fonts/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebas___-webfont.woff') format('woff'),
         url('fonts/bebas___-webfont.ttf') format('truetype'),
         url('fonts/bebas___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.row{
  margin-right: 0;
  margin-left: 0;
}

*{
  margin:0;
  padding:0;
}

body, html{
  margin: 0;
  padding: 0;
}

body, h1, h2, h3{
  font-family: pt_sans_captionregular;
}

.navbar {
  background-color: #3A75BC;
  border-radius: 0px;
  margin-bottom: 0px;
}

.name h1{
  font-family: bebasregular;
  color: #CCCCCC;
  padding-left: 10px;
  display: inline-block;
}

.name h1:hover{
  cursor: pointer;
  color: #4FBFA8;
}

.mynav a{
  color: white;
}

.mynav li a:hover{
  background-color: rgba(58, 117, 188, 1);
}

.toggle-custom{
  background-color: inherit;
}

.toggle-custom .icon-bar{
  background-color: #CCCCCC;
}

.mynav{
  padding:15px;
}

.items a{
  color: #fff;
}

.cover {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  height: 400px;
  background: url(/images/cover.jpg) center -470px no-repeat fixed;
}

.header h1{
  text-align: center;
  padding-top: 150px;
  color: white;
  font-size: 45px;
  margin: 0;
}

.items{
  text-align: center;
}

.image-desc{
  width: 400px;
  margin: 0 auto;
}

.image-desc h3{
  color:#fff;
}

.image-wrap:hover .image{
 /* -webkit-filter: blur(10px);*/
 -webkit-transition: all linear .2s;
  -moz-transition: all linear .2s;
  transition: all linear .2s;
}

.items .image{
  background-repeat: no-repeat;
  padding: 10px;
  height: 300px;
}

.projects{
  background-color: #4f86c9;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  padding-bottom: 30px;
  padding-top: 30px;
}

ul{
  list-style: none;
}
.intro{
  background-color: #3A75BC;
  text-align: center;
  color: white;
}

.intro div{
  padding: 30px;
  font-size: 20px;
}

.intro h1{
  margin: 20px;
}

.title-section h1{
  margin: 0;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
}

.title-section{
  height: 50px;
}

.projects-t{
  background-color: #4f86c9;
}

.about, .about-t{
  background-color: #5c8fcd;
}

.title-about{
  width: 30%;
}

.title-about h2{
  padding: 30px;
}

.content-about p{
  padding: 20px;
}

.content-about{
  width: 70%;
  font-size: 17px;
}

.content-about ul{
  padding: 20px;
}

.content-about h4{
  color: white;
}

.cercle-plein{
  background:#4FBFA8;
  border-radius:50%;
  width:17px;
  height:17px;
  border:1px solid white;
  display: inline-block;
}

.cercle-vide{
  border-radius:50%;
  width:17px;
  height:17px;
  border:1px solid white;
  display: inline-block;
}

.button{
  padding: 10px 20px 10px 20px;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 30px;
  border: 1px solid white;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.link{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: inherit;
}

.button:hover{
  background-color: #4FBFA8;
  border: 1px solid #4FBFA8;
  color: white;
  text-decoration: none;
}

.vision, .vision-t{
  background-color: #3A75BC;
}

.vision{
  padding: 60px;
}

.attribute img{
  width: 200px;
}

.attribute{
  text-align: center;
}

.attribute p{
  font-size: 20px;
  color: white;
  padding:20px;
}

.career, .career-t{
  background-color: #5C8FCD;
}

.career p {
  padding-top:60px;
  padding-bottom:60px;
  padding-left: 5%;
  padding-right: 20%;
  text-align: justify;
  color: white;
}

.btn-custom{
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
  color: #ffffff;
  background-color: #4FBFA8;
}

.btn-custom:hover{
  color: #ffffff;
  cursor: pointer;
}

.footer img{
  width: 75px;
}

.footer .icons{
  padding : 40px;
}

.footer p{
  color: white;
  background-color: #5c8fcd;
  margin: 0;
}

.name-link{
  color: #4FBFA8;
}

.name-link:hover{
  text-align: 0;
}

.name img{
  margin-bottom: 15px;
  width:70px;
}

.footer {
  background-color: #CCCCCC;
}

.footer .email{
  padding: 30px;
}

.footer .row, .email{
 text-align: center;
}

.footer .icons p{
 text-align: center;
 width: inherit;
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: #4FBFA8;
}

.career img{
  border-radius:50%;
  width:160px;
  height:160px;
  border:1px solid #fff;
}

.career{
  margin: 0 auto;
}

.image-c{
  padding-top: 40px;
  width: 40%;
  text-align: right;
}


.image-t{
  width: 60%;
}

@media screen and (min-width: 200px) and (max-width: 640px){

.items .image{
  height: 190px;
}

.content-about{
  width: 100%;
}

.content-about h4{
  padding-left: 10%;
}

.navbar {
  margin-left: 0;
  margin-right: 0;
}

.header h1{
  padding-top: 50px;
}

.image-desc{
  width: 200px;
}

.career p {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0;
}

.image-c{
  text-align: center;
  width: inherit;
 }

.button{
  font-size: 1.1em;
}

}

