@font-face {
    font-family: 'RemachineScript_Personal_Use';
    src: url('fonts/RemachineScript_Personal_Use.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ContrailOne';
    src: url('fonts/ContrailOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.middle{
    margin: 0 auto;
}

.pic{
    background-image: url("/img/ben.jpeg");
    -moz-box-shadow: 2px 2px 2px 1px #000000;
    -webkit-box-shadow: 2px 2px 2px 1px #000000;
    -o-box-shadow: 2px 2px 2px 1px #000000;
    box-shadow: 2px 2px 2px 1px #000000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=134, Strength=10);    margin: 0 auto;
    border-radius:50%;
    width:230px;
    height:225px;
    border:2px solid darkgrey;
}

.header{
    background-color: #2980b9;
    width: 100%;
    height: 300px;
}

.header h1, h3{
    font-family: RemachineScript_Personal_Use;
}

.header h1{
  font-size: 60px;
}

.header h3{
  font-size: 40px;
}

.header #name {
    margin-top: -35px;
    text-align: center;
    color: whitesmoke;
}

.header #desc {
    margin-top: -20px;
    text-align: center;
    color: gainsboro;
}

.menu{
    width: 100%;
    height: 42px;
    background-color: #95a5a6;
    text-align: center;
}

.menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.menu li{
    margin-top: -5px;
    display: inline-block;
    padding: 16px 15px 12px 15px;
    background-color: #34495e;
    -webkit-transform: skew(-7deg,0);
    -moz-transform: skew(-7deg,0);
    -ms-transform: skewX(-7deg) skewY(0);
    -o-transform: skew(-7deg,0);
    transform: skew(-7deg,0);
}

.menu li:hover{
    background-color: #95a5a6;
}

.menu a{
    font-family: ContrailOne;
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
}

.footer{
    width: 100%;
    height: 70px;
    background-color: #CCCCCC ;
}

ul{
    list-style: none;
    display: inline-block;
}

.item{
    margin-bottom: 5px;
    width: 300px;
    height: 400px;
    background-color: #3498db;
    text-align: center;
}
.item:hover{
    background-color: #95a5a6;
}
.item img{
    padding-top: 30px;
}
.item p {
    padding: 10px;
    font-family: 'Headland One', serif;
    font-size: 20px;
    color: whitesmoke;
}

.contenthome {
    text-align: justify;
    padding: 40px 10px 40px 0px;
}

.sectioncv{
    background-color: #bdc3c7;
    padding: 40px;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 30px;
}

.titleCenter{
    text-align: center;
}

.titleCenter h1{
    padding-left: 50px;
    line-height: 40px;
    vertical-align: middle;
    display: inline;
}

.project{
    height: 320px;
}

.imageSize{
    width: 450px;
}

.informations{
    text-align: center;
    padding: 10px;
}

@media screen and (min-width: 200px) and (max-width: 640px){

.menu a{
    font-size: 12px;
}

.titleCenter h1{
    font-size: 20px;
}

.imageSize{
    width: 300px;
}

}

