---
title: Curriculum vitae
---
<h1>Parcours</h1>
<div class="row">
    <div class="titleCenter"><img class="imgStyle" src="/img/Info.png" alt="Infos"/><h1>Bio</h1></div>
    <div class="sectioncv">
        <p>Né le 23 Avril 1993 à Arras. <br />
            19 ans, célibataire. <br />
            Titulaire du <span class="boldRed">Permis B</span>. <br />
            Obtention, en juillet 2011 du <span class="boldBlack">BAC Scientifique mention Assez bien</span>. <br />
            Titulaire du Prévention et Secours Civiques de niveau 1 (PSC1). </p>
    </div>
    <div class="titleCenter"><img class="imgStyle" src="/img/Briefcase.png" alt="Form"/><h1>Formations</h1></div>
    <div class="sectioncv">
        <ul>
            <li class="liFormations">2010/2011: Terminale Scientifique @ Pierre Mendes France, Péronne.</li>
            <li class="liFormations">2011/2012: Cycle préparatoire intégré 1 @ <a href="http://epsi.fr">EPSI</a></li>
            <li class="liFormations">2012/2013: Cycle préparatoire intégré 2 @  <a href="http://epsi.fr">EPSI</a></li>
            <li class="liFormations">2013/2014: 3ème année, Bachelor @  <a href="http://epsi.fr">EPSI</a> </li>
        </ul>
    </div>
    <div class="titleCenter"><img class="imgStyle" src="/img/TasksTodo.png" alt="Skills"/><h1>Compétences</h1></div>
    <div class="sectioncv">
        <p><span class="boldBlack">Langages</span>: HTML/CSS, PHP5, SQL, Javascript (Jquery, Ajax), Objective-C, C, C++, JSON. </p>
        <p><span class="boldGrey">Bases dans les langages/technos suivants</span>: JAVA, Ruby (Ruby On Rails), Symfony2.</p>
        <p><span class="boldRed">Outils</span>: POO, REST API, MVC, Xcode, Eclipse, PHPStorm, Git (GitHub), iTerm, Subversion, Sublime Text 2, Visual Studio 2010, Windesign, Microsoft Office, Umbraco (CMS ASP.NET).</p>
        <p><span class="boldGrey">Environnements</span>: MacOS X, Windows.</p>
        <p><span class="boldBlack">Autre</span>: Analyse Merise et UML.<br />
            Membre d’une association étudiante concentrée sur le développement iPhone: <a href="http://iepsi.fr">iEPSI </a></p>
        <p><span class="boldRed">Langue</span>: Anglais (lu, parlé, écrit) – Niveau moyen.</p>
    </div>
    <div class="titleCenter"><img class="imgStyle" src="/img/Favorite.png" alt="Favorite"/><h1>Divers</h1></div>
    <div class="sectioncv">
        <p><span class="boldRed">Centres d’intérêt</span>: Natation - Ski - Lecture (L'entreprise, QG etc.) - Nouvelles technologies - Automobile - Sport automobile - Blogs (Ray Wenderlich, FrenchWeb, iOS Dev Weekly).</p>
    </div>
    <p><a href="../upload/cv_benjamin_senechal.pdf">CV au format PDF</a></p>
</div>
