---
title: Accueil
---
<h1>Accueil</h1>
<div class="row middle">
    <div class="col-md-4">
        <div class="item">
            <img src="/img/epsi.png" alt="epsi"/>
            <p>Une Ecole, un apprentissage.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="item">
            <img src="/img/screeniPhone.png" alt="mobil"/>
            <p>Le mobile et son avenir grandiose.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="item">
            <img src="/img/mac.png" alt="web"/>
            <p>Le web et ses possibilités infinies.</p>
        </div>
    </div>
</div>
<article class="contenthome">Etudiant à l'EPSI, j'ai pour ambition de devenir ingénieur en informatique après mes 5ans d'études. Je suis actuellement en troisième année.
    Sérieux et ambitieux, je m'adapte rapidement aux projets (Professionnels et scolaires) et langages qui me sont proposés afin de satisfaire au mieux le client.
    Membre d’une association étudiante concentrée sur le développement iPhone. (<a href="http://iepsi.fr/home">iepsi</a>) <br />
    Actuellement à la recherche d'une nouvelle expérience dans le web ou la mobilité, je suis ouvert à tous projets. N'hesitez pas à me <a href="/contact">contacter</a>.
</article>
</div>
