---
title: Réalisations
---
<h1>Projets</h1>
<ul class="row">
    <li class="project">
        <div class="col-md-6">
            <img width="450" height="300" src="img/presentationastelle.png" alt="Astelle-architecture">
        </div>
        <div class="col-md-6">
            <div>
                <h1><a href="http://astelle-architecture.fr">Astelle Architecture</a></h1>
                <p>Site d'une agence d'architecture basée à Péronne dans la somme. Elle réalise différents projets, de l'habitation aux lieux culturels.</p>
            </div>
        </div>
    </li>
    <li class="project">
        <div class="col-md-6">
            <div>
                <h1><a href="http://lagrenouillere-frise.fr">La Grenouillère</a></h1>
                <p>Réalisation d'un site de camping situé au plus près de la baie de somme. Il y accueille pêcheurs ou vacanciers.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img width="450" height="300" src="img/presentationgrenouillere.png" alt="La-Grenouillere">
        </div>
    </li>
    <li class="project">
        <div class="col-md-6">
            <img width="450" height="257" src="img/presentation.png" alt="EPNet">
        </div>
        <div class="col-md-6">
            <div>
                <h1><a href="https://github.com/benjaminsenechal/EPNet">EPNet</a></h1>
                <p>
                    Application iPhone de l'association web EPNet. <br><br>
                    <em>Outils utilisés :</em><br>
                    - Xcode 5<br>
                    - Git<br>
                    - Core data<br>
                    - REST API and JSON integration<br>
                    - Cocapods<br>
                    - AFNetworking<br>
                    - DTCoreText<br>
                    - MDCParallaxView<br>
                    - Sundown
                </p>
            </div>
        </div>
    </li>
    <li class="project">
        <div class="col-md-6">
            <div>
                <h1>Crédit Agricole</h1>
                <p>
                    Application iPad dévelopée en stage afin d'apporter une réponse à la dématéralisation des publicités sur lieux de ventes.<br><br>
                    <em>Outils utilisés :</em><br>
                    - Xcode 5<br>
                    - REST API and JSON integration<br>
                    - MapKit<br>
                    - AFNetworking<br>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <img width="450" height="257" src="img/presentationipad.png" alt="EPNet">
        </div>
    </li>
    <p><a href="https://github.com/benjaminsenechal"> Et plus à venir...</a></p>
</ul>
