---
title: Réalisations
---
<h1>Projets</h1>
    <div class="row">
        <div class="col-md-6 pull-right">
            <div>
                <h1><a href="http://astelle-architecture.fr">Astelle Architecture</a></h1>
                <p>Site d'une agence d'architecture basée à Péronne dans la somme. Elle réalise différents projets, de l'habitation aux lieux culturels.</p>
            </div>
        </div>
        <div class="col-md-6 pull-left">
            <img class="imageSize" src="/img/presentationastelle.png" alt="Astelle-architecture">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pull-left">
            <div>
                <h1><a href="http://lagrenouillere-frise.fr">La Grenouillère</a></h1>
                <p>Réalisation d'un site de camping situé au plus près de la baie de somme. Il y accueille pêcheurs ou vacanciers.</p>
            </div>
        </div>
        <div class="col-md-6 pull-right">
            <img class="imageSize" src="/img/presentationgrenouillere.png" alt="La-Grenouillere">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pull-right">
            <div>
                <h1><a href="https://github.com/benjaminsenechal/EPNet">EPNet</a></h1>
                <p>Application iPhone de l'association web EPNet. <br><br>
                    <em>Outils utilisés :</em><br>
                    <ul>
                        <li>Xcode 5</li>
                        <li>Git</li>
                        <li>Core data</li>
                        <li>REST API and JSON integration</li>
                        <li>Cocapods</li>
                        <li>AFNetworking</li>
                        <li>DTCoreText</li>
                        <li>MDCParallaxView</li>
                        <li>Sundown</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-md-6 pull-left">
            <img class="imageSize" src="/img/presentation.png" alt="EPNet">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pull-left">
            <div>
                <h1>Crédit Agricole</h1>
                <p>
                    Application iPad dévelopée en stage afin d'apporter une réponse à la dématéradivsation des publicités sur diveux de ventes.<br><br>
                    <em>Outils utilisés :</em><br>
                    <ul>
                        <li>Xcode 5</li>
                        <li>REST API and JSON integration</li>
                        <li>MapKit</li>
                        <li>AFNetworking</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-md-6 pull-right">
            <img class="imageSize" src="/img/presentationipad.png" alt="EPNet">
        </div>
    </div>
    <p><a href="https://github.com/benjaminsenechal"> Et plus à venir...</a></p>
</ul>
